<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://i.imgur.com/qFA6gVZ.png" />
    <link rel="apple-touch-icon" href="https://i.imgur.com/qFA6gVZ.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <link rel="stylesheet" type="text/css" media="screen" href="MeetTeam.css" />
    <title>Byte App</title>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light my-nav">

        <a class="navbar-brand" href="#">Byte</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse my-nav-font" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active my-nav-font" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link my-nav-font" href="#">About</a>
                <a class="nav-item nav-link my-nav-font" href="#">Meet the Team</a>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        </div>
    </nav>

    <div class="maincontainer">

        <div class="row">
            <div class="col-sm-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <!-- front content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/63Yii7R.jpg" alt="AlexConnolly">
                                <div class="card-body">
                                    <h5 class="card-title">Alex Connolly</h5>
                                    <p class="card-text">"I am a hooman."</p>
                                </div>
                            </div>
                        </div>

                        <!-- back content -->
                        <div class="back">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/63Yii7R.jpg" alt="AlexConnolly">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary linkedin" href="https://www.linkedin.com/in/alexrconnolly/"
                                        role="button">LinkedIn</a>
                                    <a class="btn btn-outline-primary github" href="https://github.com/AlexanderConnolly415"
                                        role="button">GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <!-- front content -->
                            <div class="thefront">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/cJFRBjP.jpg" alt="GraceHoughtonAndrizzi">
                                    <div class="card-body">
                                        <h5 class="card-title">Grace Houghton Andrizzi </h5>
                                        <p class="card-text">"Anyone want some ice cream?"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/cJFRBjP.jpg" alt="GraceHoughtonAndrizzi">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary linkedin" href="https://www.linkedin.com/in/grace-houghton/"
                                        role="button">LinkedIn</a>
                                    <a class="btn btn-outline-primary github" href="https://github.com/adorkwithaspork"
                                        role="button">GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <!-- front content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/SDtXLQy.jpg" alt="PeterMacdonnell">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Macdonnell</h5>
                                    <p class="card-text">"THICC LIFE"</p>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/SDtXLQy.jpg" alt="PeterMacdonnell">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary linkedin" href="https://www.linkedin.com/in/petermacdonnell/"
                                        role="button">LinkedIn</a>
                                    <a class="btn btn-outline-primary github" href="https://github.com/PeterMacDonnell"
                                        role="button">GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <!-- front content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/wwaDj9I.jpg" alt="CrystalNgo">
                                <div class="card-body">
                                    <h5 class="card-title">Crystal Ngo</h5>
                                    <p class="card-text">"Let's plan this out."</p>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/wwaDj9I.jpg" alt="CrystalNgo">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary linkedin" href="https://www.linkedin.com/in/ngocrystal/"
                                        role="button">LinkedIn</a>
                                    <a class="btn btn-outline-primary github" href="https://github.com/crystalngo88"
                                        role="button">GitHub</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <!-- front content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/er9gMyi.jpg" alt="BroganStich">
                                <div class="card-body">
                                    <h5 class="card-title">Brogan Stich</h5>
                                    <p class="card-text">"It's not a holiday? Whoops!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/er9gMyi.jpg" alt="BroganStich">
                                <div class="card-body">
                                    <a class="btn btn-outline-primary linkedin" href="https://www.linkedin.com/in/brogan-stich-9a9697165"
                                        role="button">LinkedIn</a>
                                    <a class="btn btn-outline-primary github" href="https://github.com/ad-victoriam-101"
                                        role="button">GitHub</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body>

</html>